<div class="players_container">

  <form class="new_player" id="new_player" action="/players" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Xm59HdQJjVENA481iOtWzZBYmKlCtP9sd4xnkvpDL6gZuCXFXePcqIy8K75DQr5b7X1MtLQajTp0D2VpO8Kqig==">
    Name: <input type="text" name="player[name]" id="player_name"><br>
    Position: <input type="text" name="player[position]" id="player_position"><br>
    <input type="submit" class="create_player" name="commit" value="Create Player" data-disable-with="Create Player">
</form>
</div>
